[submodule "shellib"]
	path = shellib
	url = https://github.com/maxtsepkov/bash_colors.git
[submodule "profiles/base/vim/bundle/python-mode"]
	path = profiles/base/vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "profiles/base/vim/bundle/vim-gradle"]
	path = profiles/base/vim/bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle.git
[submodule "profiles/base/vim/bundle/vcscommand.vim"]
	path = profiles/base/vim/bundle/vcscommand.vim
	url = https://github.com/vim-scripts/vcscommand.vim.git
[submodule "profiles/base/vim/bundle/confluencewiki.vim"]
	path = profiles/base/vim/bundle/confluencewiki.vim
	url = https://github.com/vim-scripts/confluencewiki.vim.git
[submodule "profiles/base/vim/bundle/vim-notes"]
	path = profiles/base/vim/bundle/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule "profiles/base/vim/bundle/vim-misc"]
	path = profiles/base/vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "profiles/base/vim/bundle/tabular"]
	path = profiles/base/vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "profiles/base/vim/bundle/vim-markdown"]
	path = profiles/base/vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "liquidprompt"]
	path = profiles/base/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "profiles/base/vim/bundle/logstash.vim"]
	path = profiles/base/vim/bundle/logstash.vim
    url = https://github.com/robbles/logstash.vim.git
[submodule "profiles/base/i3blocks-contrib"]
	path = profiles/base/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
[submodule "profiles/zsh/zprezto"]
	path = profiles/zsh/zprezto
	url = https://github.com/sorin-ionescu/prezto.git
